@import 'node_modules/modern-normalize/modern-normalize.css';

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src:
    url('assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('assets/fonts/roboto-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src:
    url('assets/fonts/roboto-medium-webfont.woff2') format('woff2'),
    url('assets/fonts/roboto-medium-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src:
    url('assets/fonts/roboto-bold-webfont.woff2') format('woff2'),
    url('assets/fonts/roboto-bold-webfont.woff') format('woff');
}

html {
  cursor: url('./assets/cursor.png'), default;
}

body {
  background-color: rgb(0, 0, 0);
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #111111;
  width: 100%;
  height: 100vh;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
a:hover {
  cursor: url('./assets/cursor-pointer.png'), pointer;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
button:hover {
  cursor: url('./assets/cursor-pointer.png'), pointer;
}
button:disabled {
  cursor: url('./assets/cursor-disabled.png'), not-allowed;
}
input:focus,
input:hover {
  cursor: url('./assets/cursor-text.png'), text;
}

.css-9l3uo3 {
  color: #efede8;
  font-size: 14px;
  font-weight: 400;
  line-height: 128%;
  letter-spacing: normal;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.os-scrollbar-vertical {
  background-color: rgba(239, 237, 232, 0.1);
  border-radius: 12px;
  /* width: 8px; */
  --os-size: 8px;
  --os-track-border-radius: 12px;
  --os-handle-bg: #ef8964;
  --os-handle-bg-active: #ef8964;
  --os-handle-bg-hover: #ef8964;
  --os-handle-min-size: 33px;
  --os-handle-max-size: 153px;
  --os-handle-perpendicular-size: 8px;
  --os-handle-perpendicular-size-active: 8px;
  --os-handle-perpendicular-size-hover: 8px;
}

/* стили слайдера для пагинации */

.pagination .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background: #efede8;
}

.pagination .swiper-pagination-bullet-active {
  background: #e6533c;
}
